<section class="section">
    <table class="table">
        <thead>
            <tr>
                <th>Person</th>
                <th>Year</th>
            </tr>
        </thead>
        ${executiveList.map(executive => `
            <tr>
                <td>${executive.name}</td> 
                <td>${executive.year}</td>
            </tr>
        `).join('')}
    </table>
</section>
<section class="section">
    <p>Add a New CEO</p>
    <form action="/ceos" method="POST">
        <label>Name
            <input type="text" name="name"/>
        </label>
        <label>Year
            <input type="text" name="year"/>
        </label>
        <button type="submit" class='is-primary'>Submit</button>
    </form>
    <form action="/ceos/addMany" method="POST">
        <button type="submit" class='is-primary'>Add Many</button>
    </form>
</section>